<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<root>
		<level value="ALL"/>
		<appender-ref ref="RollingFileAppender"/>
		<appender-ref ref="Console"/>
		<!-- Uncomment the following line, only if you want to push the logging to gcp logging-->
    <!-- <appender-ref ref="CloudLogger"/>-->
	</root>
	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender" >
		<mapping>
			<level value="ERROR" />
			<foreColor value="White" />
			<backColor value="Red" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
			<foreColor value="White" />
		</mapping>
		<mapping>
			<level value="INFO" />
			<foreColor value="Green" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="../logs/SrvLog_" />
		<datePattern value="yyyy-MM-dd_HH'.log'" />
		<appendToFile value="true"/>
		<preserveLogFileNameExtension value="true"/>
		<rollingStyle value="Date"/>
		<maximumFileSize value="5MB"/>
		<maxSizeRollBackups value="-1"/>
		<staticLogFileName value="false"/>
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline"/>
		</layout>
	</appender>
	<appender name="CloudLogger" type="Google.Cloud.Logging.Log4Net.GoogleStackdriverAppender,Google.Cloud.Logging.Log4Net">
		<jsonLayout  type='SampleWebApp.Logging.GcpJsonLayout, SampleWebApp'>
		</jsonLayout>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message" />
		</layout>
		<projectId value="sage-outrider-666" />
		<logId value="jsondatagenerator" />
	</appender>
</log4net>
