@inherits LayoutComponentBase

@* <div class="sidebar">
    <NavMenu />
</div> *@
<meta name="keywords" content="JSON generator, mock JSON data, create JSON online, API testing data, JSON templates, raw JSON to URL, schema to JSON, mock API endpoint, fake API response, JSON mock server, JSON data generator, JSON validator, generate JSON URL, API mocking tool" />
<meta name="description" content="Generate structured or raw JSON and instantly create mock API URLs. Ideal for developers, testing, and fast UI prototyping with custom data." />
<meta name="robots" content="index, follow" />

<meta property="og:title" content="JSON Generator with Shareable Link | Free Mock Data Tool" />
<meta property="og:description" content="Generate realistic JSON data online for testing, prototyping, and development. Customize templates and instantly create complex JSON structures." />
<meta property="og:url" content="https://jsondatagenerator.com/" />
<meta property="og:site_name" content="Your JSON Creator" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="JSON Generator with Shareable Link | Free Mock Data Tool" />
<meta name="twitter:description" content="Quickly generate realistic JSON data with flexible templates. Ideal for developers and API testers." />

<link rel="canonical" href="https://jsondatagenerator.com/" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="16x16" />
<meta name="next-size-adjust" />

<div>
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Json Generator</a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="https://forms.gle/uisj8EqTFW6nciGn6">Contact us</a>
            </li>
            </ul>
    </nav>

    <div class="row">
        @Body
    </div>
</div>
